<div class="ui grid">
  <%= items.each do |item| %>
    <div class="ui four wide column">
      <div class="ui card">
        <div class="content">
          <div class="centered header"><%= link_to item.title, (item.is_a?(Journal) ? journal_path(item) : photo_path(item)) %></div>
        </div>
        <div class="content blurb"><%= (item.is_a?(Journal) ? item.body : image_tag(item.show_image)) %></div>
      </div>
    </div>
  <% end %>
</div>
