<h2 class="ui centered header">My Dashboard</h2>

<div class="ui grid">
  <div class="ui four wide column">
    <div class="ui card">
      <div class="content">
        <div class="centered header"><%= link_to "My Journals", my_entries_path, entries: @journals %></div>
      </div>
      <div class="content blurb">
        See what you've written, you star author, you!
        Our thoughts are valuable and deserve to be written, if only for your own eyes.
        Get your ideas out there adn see them become manifest in the real world! And then come back to find them here,
        so they don't get lost out in the big, wide universe.
      </div>
    </div>
  </div>
  <div class="ui four wide column">
    <div class="ui card">
      <div class="content">
        <div class="centered header"><%= link_to "My Photos", my_photos_path %></div>
      </div>
      <div class="content blurb">
        What photos have you found recently? Did you take any cool photos of your own?
        Come see your blossoming photo gallery! Who knows, maybe you'll develop a talent for scrapbooking,
        or a knack for amateur photography! Either way, your creations or photo collection should live somewhere.
        Probably not here in the long run, but at least for now.
      </div>
    </div>
  </div>
  <div class="ui four wide column">
    <div class="ui card">
      <div class="content">
        <div class="centered header"><%= link_to "My To-Dos", agendas_path %></div>
      </div>
      <div class="content blurb">
        Who has time to find a new piece of paper or spin up a phone app when you're out and about, just dump your
        to-dos here instead! That is the point of this site, after all - to have one location to keep everything you're up to these days.
        And people are up to a lot these days! We really should take some time for ourselves in between...
      </div>
    </div>
  </div>
  <div class="ui four wide column">
    <div class="ui card">
      <div class="content">
        <div class="centered header"><%= link_to "My Calendar", my_calendar_path %></div>
      </div>
      <div class="content blurb">
        Got a hot date? An oil change appointment? Other things that are important but maybe not important to put in your google calendar?
        Put them here! Then you can open up your calendar and see what you got goin on, you ray of sunshine.
      </div>
    </div>
  </div>
</div>
